
.box-art
{
	height: 250px;
	width: 200px;
	float: left;
}

.thumbnail
{
	height: 50px;
	width: 30px;
}
.category
{
	display: inline-block;
}
.details
{
	position: relative;
	display:inline-block;
	border: solid 1px black;
	text-align: center;
	width: 500px;
}
.details h5
{
	display:inline-block;
}
.good-quality
{
	display:inline;
	background-color: #00CC33 !important;
	color: white !important;
}
.bad-quality
{
	display:inline;
	background-color: #D00000 !important;
	color: white !important;
}
.rating
{
width:75px;
height:75px;
border-radius:50%;
font-size:30px;
color:#fff;
line-height:75px;
text-align:center;
display: inline-block;
font-weight: bold;
}
.good-rating
{
	background: #00CC33;
}
.bad-rating
{
	background: #D00000;
}
.port-rating
{
	display: inline-block;
	font-size: 28px !important;
}
.tags
{
	display: inline-block;
	border: solid 1px black;
}
.tags h5
{
	font-size: 11px !important;
}

.games
{
	width: 300px;
	max-height: 62px !important;
}

.games .select2-results
{
	max-width: 500px !important;
	max-height: 62px !important;
}